/* Container */
.card-align {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  /* composant */
  ul.card {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    max-width: 100%;
  }
  
  /* Card */
  li.card {
    background-color: #f4f4f4;
    border: 1px solid #909090;
    padding: 1rem;
    width: 300px;
    text-align: center;
    transition: 0.4s;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  li.card:hover {
    transform: scale(1.05);
    background-color: lightslategrey;
    color: white;
  }
  
  li.card img {
    width: 40%;
    height: auto;
    margin-top: 10px;
  }
  
  .Title-patern {
    text-align: center;
    margin-top: 2rem;
  }
  
  .Title {
    font-size: 1.8rem;
    font-weight: bold;
  }
  