.Title-patern{
    justify-content: center;
    margin-left:35%;
    margin-right: 35%;
    background-color: red;
    text-align: center;
}

.Title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color:cadetblue;
}

/* Cartes */
.card-align {
    display: flex;
    justify-content: center; 
    gap: 5%;
    flex-wrap:nowrap;
}
.card li p {
    word-wrap: break-word; /* Gère les mots trop longs */
    overflow-wrap: break-word; /* Gère les mots trop longs */
    word-break: break-word; /* Alternative pour couper */
    white-space: normal; /* Permet le retour à la ligne */
    overflow: hidden; /* Empêche le débordement */
    text-overflow: ellipsis; /* Ajoute des points de suspension si nécessaire */
}

ul.card{
    list-style-type: none; /* Pour retirer les puces */ 
}

.card img{
    height:20%;
    width:20%;
}

.card li {
    margin-left: 1%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    max-width: 100%;
    padding: 1%;

    background-color: #f4f4f4;
    border: 2px solid #5d81bc;
    text-align: center;
}