/* Style de base */
body, html {
    margin: 0;
    padding: 0;
    font-family: "PT Mono", monospace;
    color: #333; /* Utiliser une couleur plus lisible */
}

/* Header */
.header {
    position: relative;
    height: 15%;
    width: 100%;
    overflow: hidden;
}

.header_texture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../IMG/header_acceuil.jpg') center no-repeat;
    background-size: cover;
    z-index: 1;
}

.header_text {
    position: relative;
    margin-right: 40%;
    z-index: 2;
    color: red;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    padding-top: 15%;
    text-decoration: underline;
}

/* Navigation */
.header_navbar {
    position: absolute;
    top: 2%;
    right: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}

.header_navbar--menu-link {
    margin: 0 10px;
    color: red;
    text-decoration: none;
    font-size: 110%;
}

/* Container / Colonnes expertises */
.columnbody h3{
    margin: 0 auto;
    flex-wrap:wrap;
}

.column-align {
    display: flex;
    justify-content: center; 
    gap: 5%;
    flex-wrap:nowrap;
}
.columnbody li p {
    word-wrap: break-word; /* Gère les mots trop longs */
    overflow-wrap: break-word; /* Gère les mots trop longs */
    word-break: break-word; /* Alternative pour couper */
    white-space: normal; /* Permet le retour à la ligne */
    overflow: hidden; /* Empêche le débordement */
    text-overflow: ellipsis; /* Ajoute des points de suspension si nécessaire */
}


.columnbody li {
    margin-left: 1%;
    margin-right: 2%;
    max-width: 100%;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #f4f4f4;
    border: 1px solid #909090;
    text-align: center;
}


.columnbody img {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 80%; 
    transition: 0.4s;
}

.columnbody:hover {
    transform: scale(1.05);
    background:red;
    transition:background-color 0.4s, transform 0.4s;
    
}



/* Footer */
.footer {
    background: url('../IMG/footer.png') center no-repeat;
    background-size:cover;
    color: rgb(103, 220, 7);
    padding: 1%;
    text-align:center;
}

.footer .column h2, .footer .column h3, .footer .column p {
    font-size: 110%; /* Réduire la taille des titres et des paragraphes */
}


.containerfooter {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    padding: 1%;
}

.column {
    flex: 1;
    padding: 3%;
    border: 4px solid #ddd;
    text-align: center;
}

.contact{
    display:flex;
    justify-content: center;
    gap:5%;
}

.contact img{
    width: 40px;
    height: 40px;
}