/* Style global du formulaire */
form {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  /* Style du champ de saisie */
  form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Style du bouton de soumission */
  form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Style de la section header */
  .header {
    position: relative;
    height: 450px;
    width: 100%;
  }
  
  .header_texture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../IMG/header_acceuil.jpg') center no-repeat;
    background-size: cover;
    z-index: 1;
  }
  
  .header_text {
    position: relative;
    margin-right: 600px;
    z-index: 2;
    color: red;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 140px;
    text-decoration: underline;
  }
  
  .header_navbar {
    position: absolute;
    top: 20px;
    right: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
  }
  
  .header_navbar--menu-link {
    margin: 0 20px;
    color: red;
    text-decoration: none;
    font-size: 22px;
  }

  /* Mwa */
  .AfficheErreur{
    display:block;
    margin-top: 50px;
    font-size: 22px;
    text-align:center;
    color:red;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les enfants horizontalement */
}