/* Header */
.header {
    position: relative;
    height: 450px;
    width: 100%;
    overflow: hidden;
}

.header_texture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../IMG/header_acceuil.jpg') center no-repeat;
    background-size: cover;
    z-index: 1;
}

.header_text {
    position: relative;
    margin-right: 600px;
    z-index: 2;
    color: red;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 140px;
    text-decoration: underline;
}

/* Navigation */
.header_navbar {
    position: absolute;
    top: 20px;
    right: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}

.header_navbar--menu-link {
    margin: 0 20px;
    color: red;
    text-decoration: none;
    font-size: 22px;
}